<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-hypertrack-v3"
    version="0.0.3">
  <name>HyperTrackPlugin</name>
  <description>Cordova HyperTrack Plugin</description>
  <license>MIT</license>
  <keywords>cordova, hypertrack, location, tracking</keywords>

  <engines>
    <engine name="cordova-android" version=">=8.1.0" />
    <engine name="cordova-ios" version=">=6.1.1" />
  </engines>

  <!-- ANDROID CONFIGURATION -->
  <platform name="android">
    <js-module src="www/HyperTrackPlugin.js" name="hypertrack">
      <clobbers target="hypertrack" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HyperTrackPlugin">
          <param name="android-package" value="com.hypertrack.sdk.cordova.plugin.HyperTrackPlugin" />
      </feature>
    </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
        <service android:name="com.hypertrack.sdk.cordova.plugin.HyperTrackCordovaPluginMessagingService"
            android:exported="false">
            <intent-filter android:priority="10" >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
		</config-file>

    <framework src="src/android/HyperTrackPlugin.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/HyperTrackPlugin.java" target-dir="src/com/hypertrack/sdk/cordova/plugin" />
    <source-file src="src/android/HyperTrackCordovaPluginMessagingService.java" target-dir="src/com/hypertrack/sdk/cordova/plugin" />

  </platform>

  <!-- iOS CONFIGURATION -->
  <platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="HyperTrackPlugin">
        <param name="ios-package" value="HyperTrackPlugin" />
      </feature>
    </config-file>
    <js-module src="www/HyperTrackPlugin.js" name="hypertrack">
        <clobbers target="hypertrack" />
    </js-module>
    <header-file src="src/ios/AppDelegate+HyperTrackPlugin.h" />
		<source-file src="src/ios/AppDelegate+HyperTrackPlugin.m" />
    <source-file src="src/ios/HyperTrackPlugin.m" />
    <header-file src="src/ios/HyperTrackPlugin.h" />

    <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
      <string>development</string>
    </config-file>
    <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
      <string>production</string>
    </config-file>

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/" />
      </config>
      <pods use-frameworks="true">
        <pod name="HyperTrack/Objective-C" />
      </pods>
    </podspec>

    <edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>need location access to find things nearby</string>
    </edit-config>
    <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
      <string>need location access to find things nearby</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>need location access to find things nearby</string>
    </edit-config>
    <edit-config target="NSMotionUsageDescription" file="*-Info.plist" mode="merge">
      <string>need motion access to find things nearby</string>
    </edit-config>
    <edit-config target="UIBackgroundModes" file="*-Info.plist" mode="merge">
      <array>
        <string>location</string>
        <string>remote-notification</string>
      </array>
    </edit-config>

  </platform>

</plugin>
