<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-hypertrack-v3"
    version="1.0.3">
  <name>HyperTrackPlugin</name>
  <description>Cordova HyperTrack Plugin is a wrapper around native iOS and Android SDKs that allows to integrate HyperTrack into Cordova apps.</description>
  <license>MIT</license>
  <keywords>cordova, hypertrack, location, tracking</keywords>

  <engines>
    <engine name="cordova-android" version=">=8.1.0" />
    <engine name="cordova-ios" version=">=6.1.1" />
  </engines>

  <!-- ANDROID CONFIGURATION -->
  <platform name="android">
    <js-module src="www/HyperTrackPlugin.js" name="HyperTrack">
      <clobbers target="HyperTrack" />
    </js-module>
    <js-module src="www/Serialization.js" name="Serialization">
      <clobbers target="Serialization" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <preference name="GradlePluginKotlinEnabled" value="true" />
      <feature name="HyperTrackCordovaPlugin">
          <param name="android-package" value="com.hypertrack.sdk.cordova.plugin.HyperTrackCordovaPlugin" />
      </feature>
    </config-file>

    <framework src="src/android/HyperTrackPlugin.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/HyperTrackCordovaPlugin.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin" />
    <source-file src="src/android/NoCallback.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin" />
    <source-file src="src/android/SubscriptionCall.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin" />
    <source-file src="src/android/common/GeotagData.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/HyperTrackError.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/HyperTrackSdkWrapper.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/LocationError.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/Result.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/SdkInitParams.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/SdkMethod.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />
    <source-file src="src/android/common/Serialization.kt" target-dir="java/com/hypertrack/sdk/cordova/plugin/common" />

  </platform>

  <!-- iOS CONFIGURATION -->
  <platform name="ios">
    <js-module src="www/HyperTrackPlugin.js" name="HyperTrack">
      <clobbers target="HyperTrack" />
    </js-module>
    <js-module src="www/Serialization.js" name="Serialization">
      <clobbers target="Serialization" />
    </js-module>

    <config-file parent="/*" target="config.xml">
      <feature name="HyperTrackCordovaPlugin">
        <param name="ios-package" value="HyperTrackCordovaPlugin" />
      </feature>
    </config-file>

		<source-file src="src/ios/common/HyperTrackError.swift" target-dir="common"/>
		<source-file src="src/ios/common/HyperTrackSDKWrapper.swift" target-dir="common"/>
		<source-file src="src/ios/common/SDKInitParams.swift" target-dir="common"/>
		<source-file src="src/ios/common/SDKMethod.swift" target-dir="common"/>
		<source-file src="src/ios/common/Serialization.swift" target-dir="common"/>
		<source-file src="src/ios/common/DictionaryDecoder.swift" target-dir="common"/>
		<source-file src="src/ios/HyperTrackCordovaPlugin.swift" target-dir="common"/>
		<source-file src="src/ios/MethodWrapper.swift" target-dir="common"/>

    <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
      <string>development</string>
    </config-file>
    <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
      <string>production</string>
    </config-file>

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/" />
      </config>
      <pods use-frameworks="true">
        <pod name="HyperTrack" spec="4.16.1"/>
      </pods>
    </podspec>

    <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
      <string>This app needs location access for tracking to work</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
      <string>This app needs location access for tracking to work</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string>This app needs location access for tracking to work</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
      <string>This app needs motion activity access for tracking to be accurate</string>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>location</string>
        <string>remote-notification</string>
      </array>
    </config-file>
  </platform>

</plugin>
